@media(max-width: 900px){
    .contact-form__title{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .name-input{
        margin-bottom: 10px;
    }
    .header-content{
        padding-bottom: 30px;
    }
    .privilege-icon{
        width: 48px;
    }
    .section__title{
        font-size: 24px;
        padding-bottom: 40px;
    }
    .privilege-text{
        font-size: 14px;
    }
    .privilege-list__item{
        width: 50%;
        margin-bottom: 20px;
    }
    .header-top{
        flex-direction: column;
        
    }
    .logo{
        margin: 0 0 50px 0;
    }
    .header__title{
        font-size: 36px;
    }
    .header__descr{
        font-size: 18px;
    }
    .start-container{
        flex-direction: column;
    }
    
    .start-descr{
        font-size: 14px;
    }
    .start__img-container{
        text-align: center;
    }
    .start__img-container , .start-descr{
        width: 80%;
    }
    
}
@media(max-width: 600px){
   
    .container{
        padding: 30px 30px;
    }
    .header__descr{
        font-size: 14px;
    }
    .privilege-icon{
        width: 36px;
        margin-bottom: 10px;
    }
    .section__title{
        font-size: 24px;
        padding-bottom: 20px;
    }
    .start-descr{
        font-size: 14px;
    }
    .contact-desrc{
        font-size: 18px;
    }
    .contacts-list__item{
        margin: 0 0 10px 0;
    }
    .contacts-list{
        margin: 0;
    }
    .nav{
        width: 320px;
    }
    .nav-list{
        flex-direction: column;
    }
    .nav-list__item{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .form{
        margin-bottom: 10px;
    }
    .contact-form__title{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .name-input {
        margin-bottom: 10px;
    }
    .input{
        font-size: 12px;
    }
    .contact-form__btn-sent{
        font-size: 14px;
    }
    .privilege-text{
        width: 80%;
        font-size: 8px;
    }
    .contact-container{
        flex-direction: column;
    }
    .header-content{
        padding-bottom: 20px;
    }
}
@media(max-width: 320px){
    .header__title{
        font-size: 24px;
    }
    .header__descr{
        max-width: 240px;
        font-size: 12px;
    }
    .contact-form__title{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .section__title{
        font-size: 18px;
        padding-bottom: 20px;
    }
    .privilege-list__item{
        width: 100%;
    }
    .privilege-icon{
        width: 24px;
        margin-bottom: 10px;
    }
    .privilege-text{
        font-size: 8px;
    }
    .start-descr{
        font-size: 12px;
    }
    .contact-desrc{
        font-size: 14px;
    }
    .nav-list__item{
        font-size: 14px;
    }
    .input{
        font-size: 14px;
    }
    .header-content{
        padding-bottom: 20px;
    }
    .contact-form__btn-sent{
        font-size: 14px;
    }
    .name-input{
        margin-bottom: 8px;
    }
    .contacts-list__item{
        margin-bottom: 10px;
    }
    .icon-contact{
        width: 24px;
        height: 24px;
    }
    .contacts-list{
        margin: 0;
    }
}